{% extends 'core/base.html' %}
{% block content %}
<h3>Pregntas frecuentes</h3>
<h5>¿Qué tipo de productos ofrecen?</h5>
<p>Ofrecemos una amplia gama de productos que incluyen [categorías principales]. Todos están diseñados para [beneficio clave].</p>
<H5>¿Los productos tienen garantía?</H5>
<P>Sí, todos nuestros productos cuentan con una garantía de [X meses/años] contra defectos de fabricación.</P>
<h5>¿Puedo solicitar productos personalizados?</h5>
<P>Claro, ofrecemos opciones de personalización. Contáctanos para conocer los detalles y tiempos de entrega.</P>
<a href="#" class="btn btn-lg btn-secondary">Información</a>
{% endblock %}